.form {
  padding: 32px;
  border: 1px solid #999999;
  margin: 8% auto;
  max-width: 500px;
}

.title {
  margin-bottom: 50px;
  text-align: center;
}

.pageLink {
  margin-top: 40px;
  text-align: center;
}

.resetLink {
  margin-top: 12px;
  color: red;
}

.formControl {
  display: block;
  margin-top: 16px;
}

.input,
.label,
.error {
  display: block;
  width: 100%;
}

.input {
  padding: 8px 12px;
  margin-bottom: 4px;
  margin-top: 2px;
}

.label {
  font-size: 14px;
}

.error {
  color: red;
  font-size: 12px;
}

.button {
  padding: 8px 12px;
  width: 100%;
  margin-top: 30px;
}
